<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Masukkan connection string Anda di sini -->
		<add name="KoneksiDB"
			 connectionString="server=localhost;user id=root;database=salary_new;password=danang;Convert Zero Datetime=True;pooling=false;connection Timeout=3600"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>